{% extends 'navigateur/base.html' %}

{% load static %}

{% block title %}detail group{% endblock %}


{% block fact %}

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- menu verticale -->
            {% include 'navigateur/nav1.html' %}

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                     <!-- menu verticale -->
                    {% include 'navigateur/nav_ent.html' %}

                    

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont icofont icofont-file-document bg-c-pink"></i>
                                                    <div class="d-inline">
                                                        <h4>{{group.noms}} </h4>
                                                        <span>Assurer la gestion de vos entreprises </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item">
                                                            <a href="index.html">
                                                                <i class="icofont icofont-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="{% url 'voir-group' %}">Group</a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="{% url 'creer-entreprise' %}">Creer</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <div class="page-body">
                                        <div class="row">
                                            {% for entr in entreprise %}
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>{{entr.noms}}</h5>
                                                        <span>{{entr.pays}}/ {{entr.ville}}</span>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option" style="width: 35px;">
                                                                <li class=""><i class="icofont icofont-simple-left"></i></li>
                                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                                <li><i class="icofont icofont-error close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <p>
                                                           {{entr.description}}"<br>
                                                            <b>
                                                                Manager:
                                                                {% if responsable %}
                                                                {{entr.resposanble}}
                                                                {% else %}
                                                                pas de manager pour le monent
                                                                {% endif %}
                                                            </b>
                                                        </p>
                                                        <div>
                                                            <a href="{% url 'modifier-entreprise' entr.id %}" class="btn btn-primary btn-outline-primary btn-icon"><i class="ti-pencil"></i></a>
                                                            <a href="{% url 'supprimer-entreprise' entr.id %}" class="btn btn-danger btn-outline-danger btn-icon"><i class="ti-trash"></i></a>
                                                            <a href="" class="btn btn-success btn-outline-success btn-icon"><i class="ti-eye"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <p>Aucune entreprise associée à ce groupe.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        </div>
                        <!-- Main-body end -->

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}