{% extends 'navigateur/base.html' %}

{% load static %}

{% block title %}Produit{% endblock %}


{% block fact %}

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- menu verticale -->
            {% include 'navigateur/nav1.html' %}

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                     <!-- menu verticale -->
                    {% include 'navigateur/nav4.html' %}

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                             <!-- menu rechercre -->
                             <form method="GET" action="{% url 'produit' entreprise.id %}">
                            <div class="pcoded-search">
                                <span class="searchbar-toggle">  </span>
                                <div class="pcoded-search-box ">
                                    <input type="text" name="search" placeholder="Rechercher par nom" value="{{ search_query }}">
                                    <button type="submit" class="search-icon"><i class="ti-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-table bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Gestions Produits ({{entreprise.noms}})</h4>
                                                        <span>bien definir le prix d'achat et vente pour conaitre le revenue de chaque produits </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                   <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="index.html">
                                                            <i class="icofont icofont-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="{% url 'accueil-user' %}">Accueil</a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="{% url 'ajouter-produit' entreprise_id=entreprise.id %}">Ajouter</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <!-- Basic table card start -->
                                    <form method="post" action="{% url 'supprimer_produit' entreprise.id %}" onsubmit="return confirmDelete();">
                                        {% csrf_token %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>{{produit_count}} Produit{% if produit_count != 0 and produit_count != 1 %}s {% endif %}</h5>
                                            <span>
                                                <button type="submit" class="btn btn-danger"><i class="ti-trash"></i>Supprimer selectionner</button>
                                            </span>
                                            <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Noms</th>
                                                            <th>Prix d'achat</th>
                                                            <th>Prix de vente</th>
                                                            <th>Stoke</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if produits %}
                                                        {% for produit in produits %}
                                                        <tr>
                                                            <th scope="row">
                                                                <input type="checkbox" name="produits" value="{{ produit.id }}">
                                                            </th>
                                                            <td>{{produit.noms}}</td>
                                                            <td>{{produit.prix_achat}}</td>
                                                            <td>{{produit.prix_vente}}</td>
                                                            <td>{{produit.stock}}</td>
                                                            <td>
                                                               
                                                                <a href="{% url 'modifier-produit' produit.id %}" class="btn btn-primary btn-outline-primary btn-icon"><i class="ti-pencil"></i></a>
                                                                <a href="" class="btn btn-success btn-outline-success btn-icon"><i class="icofont icofont-eye"></i></a>
                                                               
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% else %}
                                                        <p>Aucun produits eregistrer pour votre entreprise </p>
                                                        {% endif %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                    <!-- Basic table card end -->
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}