{% extends 'navigateur/base.html' %}

{% load static %}

{% block title %}Supprimer group{% endblock %}


{% block fact %}


<div class="container mt-4">
    <h2>Confirmation de Suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer le groupe : <strong>{{ group.noms }}</strong> ?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmer la Suppression</button>
        <a href="{% url 'voir-group' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>


{% endblock %}